# Backend (Jonathan)

.env
app/backend/.env
app/backend/venv/
app/backend/__pycache__/
app/backend/core/__pycache__/
app/backend/models/__pycache__/
app/backend/services/__pycache__/
app/backend/api/v1/__pycache__/
app/backend/dependencies/__pycache__/
app/backend/schemas/__pycache__/
context.md
be-handover.md